<template name="userAccounts">
  {{#ionHeaderBar class="bar-positive"}}
    <a href="{{pathFor 'index'}}" class="button button-clear pull-left">
      {{> ionIcon icon='ios-arrow-back'}}
    </a>
    <h1 class="title">User Accounts</h1>
  {{/ionHeaderBar}}

  {{#ionContent class="padding"}}
    <p>
      User accounts use the <a href="https://github.com/meteoric/useraccounts-ionic" class="positive" target="_blank"><i>useraccounts:ionic</i> package.</a>
    </p>
    <a href="http://useraccounts-ionic.meteor.com/" class="button button-positive" target="_blank">{{> ionIcon icon="ios-upload-outline"}} Launch Example</a>
  {{/ionContent}}
</template>
