<template name="index">
  {{#ionHeaderBar class="bar-positive"}}
    <h1 class="title">Meteor Ionic</h1>
  {{/ionHeaderBar}}

  {{#ionContent}}
    {{#ionList}}

      {{#ionItem path="actionSheet" iconLeft=true iconRight=true}}
        {{> ionIcon icon="ios-circle-filled" class="balanced"}}
        Action Sheet
        {{> ionIcon icon="ios-arrow-right"}}
      {{/ionItem}}

      {{#ionItem path="backdrop" iconLeft=true iconRight=true}}
        {{> ionIcon icon="ios-circle-filled" class="balanced"}}
        Backdrop
        {{> ionIcon icon="ios-arrow-right"}}
      {{/ionItem}}

      {{#ionItem path="forms" iconLeft=true iconRight=true}}
        {{> ionIcon icon="ios-circle-filled" class="balanced"}}
        Forms
        {{> ionIcon icon="ios-arrow-right"}}
      {{/ionItem}}

      {{#ionItem path="headersFooters" iconLeft=true iconRight=true}}
        {{> ionIcon icon="ios-circle-filled" class="balanced"}}
        Headers &amp; Footers
        {{> ionIcon icon="ios-arrow-right"}}
      {{/ionItem}}

      {{#ionItem path="lists" iconLeft=true iconRight=true}}
        {{> ionIcon icon="ios-circle-filled" class="energized"}}
        Lists
        {{> ionIcon icon="ios-arrow-right"}}
      {{/ionItem}}

      {{#ionItem path="loading" iconLeft=true iconRight=true}}
        {{> ionIcon icon="ios-circle-filled" class="balanced"}}
        Loading
        {{> ionIcon icon="ios-arrow-right"}}
      {{/ionItem}}

      {{#ionItem path="modal" iconLeft=true iconRight=true}}
        {{> ionIcon icon="ios-circle-filled" class="balanced"}}
        Modal
        {{> ionIcon icon="ios-arrow-right"}}
      {{/ionItem}}

      {{#ionItem path="navigation" iconLeft=true iconRight=true}}
        {{> ionIcon icon="ios-circle-filled" class="energized"}}
        Navigation
        {{> ionIcon icon="ios-arrow-right"}}
      {{/ionItem}}

      {{#ionItem path="popover" iconLeft=true iconRight=true}}
        {{> ionIcon icon="ios-circle-filled" class="balanced"}}
        Popover
        {{> ionIcon icon="ios-arrow-right"}}
      {{/ionItem}}

      {{#ionItem path="popup" iconLeft=true iconRight=true}}
        {{> ionIcon icon="ios-circle-filled" class="assertive"}}
        Popup
        {{> ionIcon icon="ios-arrow-right"}}
      {{/ionItem}}

      {{#ionItem path="sideMenu" iconLeft=true iconRight=true}}
        {{> ionIcon icon="ios-circle-filled" class="balanced"}}
        Side Menu
        {{> ionIcon icon="ios-arrow-right"}}
      {{/ionItem}}

      {{#ionItem path="slideBox" iconLeft=true iconRight=true}}
        {{> ionIcon icon="ios-circle-filled" class="assertive"}}
        Side Box
        {{> ionIcon icon="ios-arrow-right"}}
      {{/ionItem}}

      {{#ionItem path="tabs" iconLeft=true iconRight=true}}
        {{> ionIcon icon="ios-circle-filled" class="energized"}}
        Tabs
        {{> ionIcon icon="ios-arrow-right"}}
      {{/ionItem}}

      {{#ionItem path="userAccounts" iconLeft=true iconRight=true}}
        {{> ionIcon icon="ios-circle-filled" class="balanced"}}
        User Accounts
        {{> ionIcon icon="ios-arrow-right"}}
      {{/ionItem}}

    {{/ionList}}
  {{/ionContent}}
</template>
