<template name="index">
  {{#ionHeaderBar class="bar-positive"}}
    <h1 class="title">Meteor Ionic</h1>
  {{/ionHeaderBar}}

  {{#ionContent}}
    {{#ionList}}

      {{#ionItem path="actionSheet" iconRight=true}}
        Action Sheet {{> ionIcon icon="ios-arrow-right"}}
      {{/ionItem}}

      {{#ionItem path="backdrop" iconRight=true}}
        Backdrop {{> ionIcon icon="ios-arrow-right"}}
      {{/ionItem}}

      {{#ionItem path="forms" iconRight=true}}
        Forms {{> ionIcon icon="ios-arrow-right"}}
      {{/ionItem}}

      {{#ionItem path="headersFooters" iconRight=true}}
        Headers &amp; Footers {{> ionIcon icon="ios-arrow-right"}}
      {{/ionItem}}

      {{#ionItem path="lists" iconRight=true}}
        Lists {{> ionIcon icon="ios-arrow-right"}}
      {{/ionItem}}

      {{#ionItem path="loading" iconRight=true}}
        Loading {{> ionIcon icon="ios-arrow-right"}}
      {{/ionItem}}

      {{#ionItem path="modal" iconRight=true}}
        Modal {{> ionIcon icon="ios-arrow-right"}}
      {{/ionItem}}

      {{#ionItem path="navigation" iconRight=true}}
        Navigation {{> ionIcon icon="ios-arrow-right"}}
      {{/ionItem}}

      {{#ionItem path="popover" iconRight=true}}
        Popover {{> ionIcon icon="ios-arrow-right"}}
      {{/ionItem}}

      {{#ionItem path="popup" iconRight=true}}
        Popup {{> ionIcon icon="ios-arrow-right"}}
      {{/ionItem}}

      {{#ionItem path="sideMenu" iconRight=true}}
        Side Menu {{> ionIcon icon="ios-arrow-right"}}
      {{/ionItem}}

      {{#ionItem path="tabs" iconRight=true}}
        Tabs {{> ionIcon icon="ios-arrow-right"}}
      {{/ionItem}}

      {{#ionItem path="userAccounts" iconRight=true}}
        User Accounts {{> ionIcon icon="ios-arrow-right"}}
      {{/ionItem}}

    {{/ionList}}
  {{/ionContent}}
</template>
