<template name="forms">
  {{#ionHeaderBar class="bar-positive"}}
    <a href="{{pathFor 'index'}}" class="button button-clear pull-left">
      {{> ionIcon icon='ios-arrow-back'}}
    </a>
    <h1 class="title">Forms</h1>
  {{/ionHeaderBar}}

  {{#ionContent class="padding"}}
    <p>
      Forms use the <a href="https://github.com/meteoric/autoform-ionic" class="positive" target="_blank"><i>meteoric:autoform-ionic</i> package.</a>
    </p>
    <a href="http://autoform-ionic.meteor.com/" class="button button-positive" target="_blank">{{> ionIcon icon="ios-upload-outline"}} Launch Example</a>
  {{/ionContent}}
</template>
