<template name="popup">
  {{#ionHeaderBar class="bar-positive"}}
    <a href="{{pathFor 'index'}}" class="button button-clear pull-left">
      {{> ionIcon icon='ios-arrow-back'}}
    </a>
    <h1 class="title">Popup</h1>
  {{/ionHeaderBar}}

  {{#ionContent}}
    <div class="padding">
      <button class="button button-block button-stable" data-action="showPopup">
        Popup
      </button>
      <button class="button button-block button-stable" data-action="showConfirm">
        Confirm
      </button>
      <button class="button button-block button-stable" data-action="showAlert">
        Alert
      </button>
      <button class="button button-block button-stable" data-action="showPrompt">
        Prompt
      </button>
    </div>
  {{/ionContent}}
</template>
