<template name="ionModal">
  <div class="modal-backdrop">
    <div class="modal-wrapper">
      <div class="modal">

        <div class="bar bar-header bar-stable">
          <h2 class="{{titleClass}}">{{title}}</h2>
          {{#if closeText}}
            <button data-dismiss="modal" class="button button-positive button-clear">{{closeText}}</button>
          {{else}}
            <button data-dismiss="modal" class="button button-icon"><i class="icon ion-ios-close-empty"></i></button>
          {{/if}}
        </div>

        <div class="content has-header overflow-scroll">
          {{> UI.contentBlock}}
        </div>

      </div>
    </div>
  </div>
</template>
