<template name="_tabs">
  {{#ionTabs}}
    <a class="tab-item tab-item-positive {{ isActiveRoute regex='tabs.one' }}" href="{{ pathFor 'tabs.one' }}">
      {{> ionIcon icon='ios-home'}}
      Tab 1
    </a>
    <a class="tab-item tab-item-positive {{ isActiveRoute regex='tabs.two' }}" href="{{ pathFor 'tabs.two' }}">
      {{> ionIcon icon='ios-star'}}
      Tab 2
    </a>
    <a class="tab-item tab-item-positive {{ isActiveRoute regex='tabs.three' }}" href="{{ pathFor 'tabs.three' }}">
      {{> ionIcon icon='ios-heart'}}
      Tab 3
    </a>
    <a class="tab-item tab-item-positive {{ isActiveRoute regex='tabs.four' }}" href="{{ pathFor 'tabs.four' }}">
      {{> ionIcon icon='ios-gear'}}
      Tab 4
    </a>
  {{/ionTabs}}
</template>
