<template name="tabs">
  {{#ionHeaderBar class="bar-positive"}}
    <a href="{{pathFor 'index'}}" class="button button-clear pull-left">
      {{> ionIcon icon='ios-arrow-back'}}
    </a>
    <h1 class="title">Tabs</h1>
  {{/ionHeaderBar}}

  {{#ionContent}}
    <div class="padding">
      Content goes here
    </div>
  {{/ionContent}}

  {{#ionTabs}}
    <a class="tab-item tab-item-positive" href="#">
      {{> ionIcon icon='ios-pulse'}}
      Trending
    </a>
    <a class="tab-item tab-item-positive" href="#">
      {{> ionIcon icon='ios-clock-outline'}}
      Recent
    </a>
    <a class="tab-item tab-item-positive" href="#">
      {{> ionIcon icon='ios-bolt-outline'}}
      Notifications
    </a>
    <a class="tab-item tab-item-positive" href="#">
      {{> ionIcon icon='ios-person-outline'}}
      Profile
    </a>
  {{/ionTabs}}

</template>
