<template name="ionContent">
    <ion-content class="scroll-content
                        ionic-scroll
                        {{#unless scroll}} scroll-content-false {{/unless}}
                        {{#if hasHeader}}has-header{{/if}}
                        {{#if hasFooter}}has-footer{{/if}}">
        {{#if scroll}}
        <div class="scroll">
            {{> Template.contentBlock}}
        </div>
        {{else}}
            {{> Template.contentBlock}}
        {{/if}}
    </ion-content>
</template>
