<template name="headersFooters">
  {{#ionHeaderBar class="bar-positive"}}
    <a href="{{pathFor 'index'}}" class="button button-clear pull-left">
      {{> ionIcon icon='ios-arrow-back'}}
    </a>
    <h1 class="title">Headers &amp; Footers</h1>
  {{/ionHeaderBar}}

  {{#ionSubheaderBar}}
    <h2 class="title">Subheader</h2>
  {{/ionSubheaderBar}}

  {{#ionContent}}
    <div class="padding">
      Content goes here
    </div>
  {{/ionContent}}

  {{#ionFooterBar class="bar-dark"}}
    <h1 class="title">Footer</h1>
  {{/ionFooterBar}}

</template>
