<template name="_myPopover">
  {{#ionPopover}}
    <div class="content">
      <div class="list">
        <a class="item item-icon-right" href="http://www.meteor.com/" target="_blank">
          Meteor
          {{> ionIcon icon="ios-arrow-right"}}
        </a>
        <a class="item item-icon-right" href="http://ionicframework.com/" target="_blank">
          Ionic
          {{> ionIcon icon="ios-arrow-right"}}
        </a>
        <a class="item item-icon-right" href="http://meteoric.github.io/" target="_blank">
          Meteoric
          {{> ionIcon icon="ios-arrow-right"}}
        </a>
      </div>
    </div>
  {{/ionPopover}}
</template>
