@import '{jandres:meteoric-sass}/scss/_mixins.scss';
@import '{jandres:meteoric-sass}/scss/_variables.scss';

[nav-view-transition] {
  /**
   * Transition states:
   * 1. stage: Set the initial position of the not yet existent view.
   * 2. entering: Triggers animation toward translate3d(0, 0, 0), centering the view.
   * 3. active: Keeps the translate3d(0, 0, 0) for the rest of the states, until leaving.
   * 4. leaving: Transitions out.
   */

  [nav-view="stage"] {  opacity: 0;  }
  &[nav-view-direction="back"] [nav-view="stage"] {
    @include translate3d(-100%, 0px, 0px);
  }
  &[nav-view-direction="forward"] [nav-view="stage"] {
    @include translate3d(100%, 0px, 0px);
  }

  [nav-view="entering"] {  opacity: 1;  }
  &[nav-view-direction="back"] [nav-view="entering"],
  &[nav-view-direction="forward"] [nav-view="entering"]{
    @include translate3d(0px, 0px, 0px);
  }

  [nav-view="leaving"] {  opacity: 0;  }
  &[nav-view-direction="back"] [nav-view="leaving"] {
    @include translate3d(100%, 0px, 0px);
  }
  &[nav-view-direction="forward"] [nav-view="leaving"] {
    @include translate3d(-100%, 0px, 0px);
  }

  &[nav-view-direction="back"],
  &[nav-view-direction="forward"] {
    [nav-view="active"] {
      @include translate3d(0px, 0px, 0px);
    }
  }
}

[nav-bar-transition] {
  [nav-bar="leaving"] {
    z-index: 11;
    .bar.bar-header {  background: transparent;  }
  }

  [nav-bar="leaving"], [nav-bar="stage"] {
    .buttons, .title {
      opacity: 0.0;
    }
  }
  [nav-bar="entering"], [nav-bar="active"] {
    .buttons, .title {
      opacity: 1.0;
    }
  }
}

[nav-bar-transition="ios"] {
  &[nav-bar-direction="back"] {
    [nav-bar="stage"] {
      .back-text, .title {  @include translate3d(-50%, 0px, 0px);  }
    }
    [nav-bar="entering"],
    [nav-bar="active"] {
      .back-text, .title {  @include translate3d(0px, 0px, 0px);  }
    }
    [nav-bar="leaving"] {
      .back-text, .title {  @include translate3d(50%, 0px, 0px);  }
    }
  }
  &[nav-bar-direction="forward"] {
    [nav-bar="stage"] {
      .back-text, .title {  @include translate3d(50%, 0px, 0px);  }
    }
    [nav-bar="entering"],
    [nav-bar="active"] {
      .back-text, .title {
        @include translate3d(0px, 0px, 0px);
      }
    }
    [nav-bar="leaving"] {
      .back-text, .title {  @include translate3d(-50%, 0px, 0px);  }
    }
  }
}