@import "_transitions.scss";

.snap-drawers {
  .snap-drawer-left {}
  .item-options.snap-drawer.snap-drawer-right {
    width: initial;
    overflow: initial;
  }
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  -ms-touch-action: none;
}

body,ul,li {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  font-size: 12px;
  font-family: ubuntu, helvetica, arial;
  overflow: hidden; /* this is important to prevent the whole page to bounce */
}

// Original have position: absolute, collapsing and hiding the content. It looks like a bug.
// todo: There is two .swiper-wrapper rule in the _slides.scss making me think that this is a bug.
.swiper-wrapper {
  position: relative !important;
}